<!-- Sidepeek Menu -->
 <div class="sidepeek-wrapper">
    <aside class="sidepeek" [class.is-open]="isSidepeekOpen">
        
        <div class="user-wrapper">
            <div class="user">
                <img height="28" width="28" src="assets/user.svg">
            </div>
            
        </div>

        <div class="divider"></div>

        <nav class="sidepeek-content-wrapper">
            <ul class="content-list">
                <li class="list-item"><img height="23" width="23" src="assets/home.svg">Home</li>
                <li class="list-item"><img height="23" width="23" src="assets/bar-chart.svg">Analysis</li>
                <li class="list-item"><img height="23" width="23" src="assets/calendar.svg">History</li>
                <li class="list-item"><img height="23" width="23" src="assets/settings.svg">Settings</li>
            </ul>
            <ul class="content-list">
                <li class="list-item"><img height="23" width="23" src="assets/logout.svg">Logout</li>
            </ul>
        </nav>
    </aside>

 </div>