:host { display:block; }

.sidepeek-wrapper {
    position: relative;
    height: 100%;

    .sidepeek {
      box-sizing: border-box;
      position: fixed;
      width: 250px;
      left: -250px;
      height: 100vh;
      background-color: var(--sidepeek-background-color);
      transition: transform 0.3s ease;
      padding: 11px 20px;

      &.is-open {
        transform: translateX(250px);
        border-right: 2px solid var(--sidepeek-shadow-color);
      }

      .user-wrapper {
        width: 80%;
        min-height: var(--nav-h);
        border-radius: 8px;
        display: flex;
        align-items: center;
        padding: 0;

        .user {
          display: flex;
          align-items: center;
          padding: 0px 8px;
          margin: 0;
          height: 36px;
          width: 100%;
          border-radius: 8px;

          &:hover {
            cursor: pointer;
            background-color: var(--main-green-color);
          }
        }
      }

      .divider {
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: var(--sidepeek-shadow-color);
        }
      }

      .sidepeek-content-wrapper {
        margin-top: 10px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .content-list {
          margin: 0;
          padding: 0;
          
          .list-item {
            list-style-type: none;
            font-weight: 500;
            color: var(--dark-green-color);
            margin-bottom: 3px;
            font-size: 1.01em;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            padding: 5px 8px;
            border-radius: 8px;
            border: 2px solid var(--sidepeek-background-color);

            &:hover {
              background-color: var(--off-white-color);
              border: 2px solid var(--dark-green-color);
              cursor: pointer;
              box-shadow: 3px 3px var(--sidepeek-shadow-color);
            }
            
          }
        }

        
      }
    }

    
}