@import '../styles.scss';

.main {
    transition: padding-left .3s ease;

    &.is-open {
        padding-left: 250px;
    }
}

nav {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid var(--shadow-color);
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    z-index: 1000;
    
}

.nav-bar-content {
    padding: 11px 30px;
    height: var(--nav-h);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    

    .circular-icon-button {
        background-color: var(--background-color);
        border: 1px solid var(--background-color);
        border-radius: 8px;
        height: 36px;
        width: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;


        
        &:hover {
            background-color: var(--shadow-color);
        }

        .menu-icon {
            flex: 0 0 auto;
            position: relative;
            transition: transform 0.3s ease;
        }

        &.is-open {
            transform: translateX(-90px);
            background-color: #c0bd94;
            border: none;

            &:hover {
                background-color: var(--main-green-color);
            }
        }
    }

    .search-bar-wrapper {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        max-width: 800px;
        position: relative;

        .search-icon {
            position: absolute;
            left: 16px;
        }

        .search-input {
            font-weight: 400;
            font-size: 0.9em;
            border: 2px solid var(--main-green-color);
            border-radius: 13px;
            padding: 10px 10px 10px 45px;
            background-color: var(--off-white-color);
            color: var(--default-font-color);
            height: 16px;
            width: 100%;
            flex: 1 1 auto;

            &::placeholder {
                color: var(--main-green-color);
            }

            &:focus {
                border: 2px solid var(--main-green-color);
                outline: none;
                box-shadow: 4px 4px var(--shadow-color);

                &::placeholder {
                    opacity: 0;
                }
            }
        }
    }

    .right-slot {
        flex: 0 0 45px;
    }
}

.month-year-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .arrow-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
}

.divider {
  position: relative;
  padding-bottom: 20px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.5px;
    background-color: var(--shadow-color);
  }
}

.content-container {
    @include content;
    margin-top: 40px;
    display: flex;
    flex-direction: column;

    .budget-panel-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 7px;
        height: 110px;
        margin-bottom: 30px;

        .budget-buttons-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 4px;
            width: 100%;

            .budget-button {
                appearance: none;
                height: 100%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 15px;
                font-family: var(--font);
                cursor: pointer;

                &--neutral {
                    background-color: var(--main-green-color);
                    color: var(--off-white-color);
                    border: 2px solid var(--main-green-color);

                    &:hover {
                        background-color: var(--off-white-color); 
                        color: var(--main-green-color);
                        box-shadow: 4px 4px var(--shadow-color);
                    }
                }

                &--red {
                    background-color: var(--red-color);
                    border: 2px solid var(--red-color);
                    color: var(--off-white-color);

                    &:hover {
                        background-color: var(--off-white-color);
                        color: var(--red-color);
                        box-shadow: 4px 4px var(--shadow-color);
                    }
                }

                &--green {
                    background-color: var(--dark-green-color);
                    border: 2px solid var(--dark-green-color);
                    color: var(--off-white-color);

                    &:hover {
                        background-color: var(--off-white-color);
                        color: var(--dark-green-color);
                        box-shadow: 4px 4px var(--shadow-color);
                    }
                }
            }
        }
    }
}

