@import '../../../styles.scss';

.transaction-details-container {
    background-color: var(--background-color);
    width: 30%;
    flex: 1 1 auto;
    border-right: 2px solid var(--sidepeek-shadow-color);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    .transaction-details {
        display: flex;
        flex-direction: column;
        gap: 8px
    }

    .transaction-details-title {
        color: var(--dark-green-color);
        font-size: 0.7em;
        font-weight: 600;
        letter-spacing: 0.2px;
        margin: 0;
        margin: 5px;
    }
}

.select-button{
    @include button;
    height: 25px;
    background-color: var(--background-color);
    border-radius: 5px;
    border: 0;
    justify-content: flex-start;
    padding: 0px 5px;
    gap: 7px;


    &.input {
        cursor: pointer;

        &::placeholder {
            color: var(--main-green-color);
        }

        &:hover {
            background-color: var(--off-white-color);
        }

        &:focus {
            background-color: var(--off-white-color);
            border: 2px solid var(--main-green-color);
            outline: none;
        }
    }

}

.input-wrapper {
    box-sizing: border-box;
    width: 100%;
}

.description-wrapper {
    box-sizing: border-box;
    width: 100%;
    max-height: 150px;
    border: 2px solid var(--main-green-color);
    background-color: var(--off-white-color);
    padding: 10px;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;

    .description-input {
        width: 100%;
        height: 100%;
        background-color: var(--off-white-color);
        border: none;
        font-family: var(--font);
        resize: none;
        overflow-y: auto;

        &::placeholder {
            color: var(--main-green-color);
        }
        
        &:focus {
            border: none;
            outline: none;
        }
        
    }
}