@use 'transaction-details';
@use '../../../styles.scss';

:host {
    --panel-h: 750px;
}

.transaction-editor-wrapper {
    width: 800px;
    min-height: 600px;
    max-height: var(--panel-h);
    border-radius: 15px;
    border: 2px solid var(--dark-green-color);
    background-color: var(--sidepeek-background-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.panel-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 5px 4px 5px;
    flex: 0 0 auto;

    .panel-title-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 10px;
    }

    .icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .panel-title {
        margin: 0px;
        padding: 7px;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.2px;
        color: var(--dark-green-color);
    }

    .button-wrapper {
        border-radius: 8px;
        height: 30px;
        width: 30px;
        padding: 0px 10px;
        border: 1px solid var(--sidepeek-background-color);
        background-color: var(--sidepeek-background-color);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;


        
        &:hover {
            background-color: var(--sidepeek-shadow-color);
        }
    }

}

.panel-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;

    width: 100%;
    height: 100%;
    flex: 1 1 auto;

    .transaction-main-content-container {
        background-color: var(--background-color);
        width: 75%;
        flex: 1 1 auto;
        box-sizing: border-box;
        padding: 20px;
        display: flex;
        flex-direction: column;
    
    }
}

.transaction-main-content {
    height: 100%;
    width: 100%;
    background-color: var(--off-white-color);
    box-sizing: border-box;
    border-radius: 0px 0px 8px 8px;
    border: 2px solid var(--main-green-color);
    display: flex;
    flex-direction: column;

    .category-menu-bar-container {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: var(--off-white-color);
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid var(--main-green-color);

        .category-menu-bar-item {
            padding: 5px 30px;
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 7px;
            border: none;
            background-color: var(--off-white-color);
            font-family: var(--font), sans-serif;
            border: 2px solid var(--off-white-color);

            &:hover {
                background-color: var(--off-white-shadow-color);
                border: 2px solid var(--off-white-shadow-color);
                cursor: pointer;
            }

            &.is-selected {
                border-bottom: 2px solid var(--dark-green-color);
            }
        }
    }

}

.category-wrapper {
  position: relative;

  &.scrollable-content {
        flex: 1 1 auto;
        overflow: auto;
        position: relative;
        overflow-y: auto;
    }
}

.category-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &.inactive {
    visibility: hidden;
    pointer-events: none; // prevents clicks when hidden
  }

  &.active {
    visibility: visible;
  }
}


.category-grid-container {
    padding: 20px 10px;
    box-sizing: border-box;
}

mat-grid-list {
  width: 100%;
}


mat-grid-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  

  .tile-wrapper {
    margin: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  .subcategory-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: var(--font), sans-serif;
    font-weight: 600;
    background-color: var(--off-white-color);
    border: 2px solid var(--off-white-color);
    border-radius: 10px;
    border: none;
    width: 100%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    font-size: 0.6em;
    padding: 10px;

    &.is-selected {
        border: 2px solid var(--main-green-color);
        box-shadow: 4px 4px var(--background-color);
    }

    &:hover {
        border: 2px solid var(--main-green-color);
        box-shadow: 4px 4px var(--background-color);
    }

    .subcategory-grid-icon {
        max-width: 50px;
        max-height: 50px;
    }
  }
}

.tab-buttons-wrapper {
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tab-button {
    width: 100%;
    font-family: var(--font), sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.2px;
    color: var(--dark-green-color);
    background-color: var(--background-color);
    border: 2px solid var(--background-color);
    border-bottom: 0;
    border-radius: 8px 8px 0px 0px;
    padding: 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: var(--off-white-color);
        border: 2px solid var(--main-green-color);
    }

    &.isOpen {
        background-color: var(--sidepeek-background-color);
        border: 2px solid var(--main-green-color);
        border-bottom: 0;
        
    }

    &.save {
        border-radius: 8px;
        background-color: var(--sidepeek-background-color);
        border: 2px solid var(--main-green-color);
        align-self: flex-end;

        &:hover {
            background-color: var(--off-white-color);
            box-shadow: 4px 4px var(--shadow-color);
        }
    }
}

.divider {
    position: relative;
    border-bottom: 2px solid var(--dark-green-color);

    &.details {
        border-bottom: 2px solid var(--sidepeek-background-color);
    }
}