<!-- Widget Component -->
<div class="budget-widget-container">
    <div class="tree-percentage-wrapper">
        <!-- CHANGE TO VARIABLE -->
        <p class="percentage">100%</p> 
        <img class="tree-icon" height="80" width="80" src="assets/tree.svg">
    </div>
    <div class="budget-stats-wrapper">
        <div class="row">
        <strong>Budget</strong><span>$1000.00</span>
        </div>
        <div class="row">
        <strong>Remaining</strong><span>$1000.00</span>
        </div>
    </div>
    <div class="widget-title-wrapper">
        <h5>MONTHLY BUDGET</h5>
    </div>
</div>
